<div class="container">
  <h2>{{'{'}} <span>CONTATO</span> {{'}'}}</h2>
  <p>Entre em contato por Skype, Whatsapp, telefone, e-mail ou pelo formulário<br> de contato abaixo e descubra como
    divulgar e ampliar o seu negócio na internet.</p>

  <div class="row">
    <div class="col-md-8">
      <div class="summary">
        <p>Ops!</p>
        <p>O formulário parece conter dados incorretos ou omissos. Por favor, siga as etapas abaixo e tente novamente:</p>
        <ul></ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <form method="post" class="form-contato">
        <div class="row">
          <div class="col-sm-6">
            <div class="pretty-input">
              <label for="assunto">Assunto</label>
              <select name="assunto" id="assunto">
                <option style="display:none" value=""></option>
                <option value="Orçamento">Solicitar orçamento</option>
                <option value="Erros">Reportar erros e/ou falhas em um projeto</option>
                <option value="Dúvida">Dúvidas</option>
                <option value="Reclamações">Reclamações</option>
                <option value="Elogios ou sugestões">Elogios e/ou sugestões</option>
                <option value="Outro">Outro</option>
              </select>
            </div>
            <div class="pretty-input">
              <label for="nome">Nome</label>
              <input type="text" maxlength="100" id="nome" name="nome" title="Informe seu nome" />
            </div>
            <div class="pretty-input">
              <label for="email">E-mail</label>
              <input type="text" maxlength="100" id="email" name="email" title="Informe seu endereço de e-mail"
                data-email="Informe um endereço de e-mail válido, como &quot;seu-nome@dominio.com.br&quot;" />
            </div>
            <div class="pretty-input">
              <label for="telefone">Telefone fixo ou celular</label>
              <input type="text" maxlength="100" id="telefone" name="telefone" title="Informe seu telefone fixo ou celular" />
            </div>
            <label style="margin-top: -20px; display: block; font-weight: normal;"><input type="checkbox" /> Este
              também é o número do meu Whatsapp.</label>
          </div>
          <div class="col-sm-6">
            <div class="pretty-input">
              <label for="mensagem">Mensagem</label>
              <textarea maxlength="1000" id="mensagem" name="mensagem" title="Digite uma mensagem"></textarea>
            </div>
          </div>
        </div>
        <br>
        <button type="submit">ENVIAR</button>
      </form>
    </div>
    <div class="col-md-4">
      <div class="dados">
        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:kelvin.marques@gmail.com">kelvin.marques@gmail.com</a><br>
        <i class="fa fa-whatsapp" aria-hidden="true"></i> (11) 98433 3790<br>
        <i class="fa fa-skype" aria-hidden="true"></i> kelvinmarx1991
      </div>
    </div>
  </div>

</div>
