<a href="mailto:contato@kelvinmarques.com.br"><i class="fa fa-envelope" aria-hidden="true"></i>
  contato@kelvinmarques.com.br</a>
<a href="https://api.whatsapp.com/send?phone=5511984333790" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i> (11) 98433 3790</a>
<a href="https://www.linkedin.com/in/kelvin-marques-webdev/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
<a href="https://github.com/Chelvis/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>