<div class="container">

  <h1> {{'{'}} <span>PORTFÓLIO</span> {{'}'}}</h1>

  {{temp | json}}

  <carousel>
    <slide>
      <div class="row">
        <div class="col-sm">
          <a href="http://www2.brasilprev.com.br/ra/ra2016/pt/index.htm" target="_blank">
            <img src="/assets/images/portfolio/brasilprev-2016.jpg" alt="RAO Brasilprev 2016" />
            <span>
              <strong>Relatório anual online 2016</strong>
              Brasilprev
            </span>
          </a>
        </div>
        <div class="col-sm">
          <a href="http://appweb.liquigas.com.br/relatorioanual/2015/pt/index.htm" target="_blank">
            <img src="/assets/images/portfolio/liquigas-2015.jpg" alt="RAO Liquigás 2015" />
            <span>
              <strong>Relatório anual online 2015</strong>
              Liquigás
            </span>
          </a>
        </div>
        <div class="col-sm">
          <a href="http://www.bancodobrasilseguridade.com.br/" target="_blank">
            <img src="/assets/images/portfolio/bb-seguridade.jpg" alt="Site BB Seguridade" />
            <span>
              <strong>Portal de relações com investidores</strong>
              Banco do Brasil Seguridade
            </span>
          </a>
        </div>
        <div class="col-sm">
            <a href="http://moultonrodriguez.com/en-us/index.html" target="_blank">
              <img src="/assets/images/portfolio/mr.jpg" alt="Site Moulton Rodriguez" />
              <span>
                <strong>Hotsite institucional</strong>
                Moulton Rodriguez
              </span>
            </a>
        </div>
      </div>
    </slide>
    <slide>
        <div class="row">
            <div class="col-sm">
                <a href="http://www.mediagroup.com.br/HOST/tractebel/rao/2015/pt/" target="_blank">
                  <img src="/assets/images/portfolio/tractebel-2015.jpg" alt="RAO Tractebel 2015" />
                  <span>
                    <strong>Relatório anual online 2015</strong>
                    Tractebel Energia
                  </span>
                </a>
            </div>
            <div class="col-sm">
                <a href="https://relatorioanual2015.febraban.org.br/pt/index.htm" target="_blank">
                  <img src="/assets/images/portfolio/febraban-2015.jpg" alt="RAO Febraban 2015" />
                  <span>
                    <strong>Relatório anual online 2015</strong>
                    Febraban
                  </span>
                </a>
            </div>
            <div class="col-sm">
                <a href="http://www.itausa.com.br" target="_blank">
                  <img src="/assets/images/portfolio/itausa-ri.jpg" alt="RAO Febraban 2015" />
                  <span>
                    <strong>Portal de relações com investidores</strong>
                    Itaúsa
                  </span>
                </a>
            </div>
            <div class="col-sm">
                <a href="http://www45.bb.com.br/docs/ri/ra2015/pt/index.htm" target="_blank">
                  <img src="/assets/images/portfolio/bb-2015.jpg" alt="RAO BB 2015" />
                  <span>
                    <strong>Relatório anual online 2015</strong>
                    Banco do Brasil
                  </span>
                </a>
            </div>
          </div>
    </slide>

    <slide>
      <a href="http://www.mediagroup.com.br/host/aegea/2015/pt/index.htm" target="_blank">
        <img src="/assets/images/portfolio/aegea-2015.jpg" alt="RAO AEGEA 2015" />
        <span>
          <strong>Relatório anual online 2015</strong>
          AEGEA
        </span>
      </a>
    </slide>
    <slide>
      <a href="http://ri.mahle.com.br/" target="_blank">
        <img src="/assets/images/portfolio/mahle-ri.jpg" alt="Site Mahle" />
        <span>
          <strong>Portal de relações com investidores</strong>
          Mahle Metal Leve
        </span>
      </a>
    </slide>
    <slide>
      <a href="http://www.walmartbrasil.com.br/relatorio-anual-2015/pt/index.htm" target="_blank">
        <img src="/assets/images/portfolio/walmart-2015.jpg" alt="RAO Walmart 2015" />
        <span>
          <strong>Relatório anual online 2015</strong>
          Walmart
        </span>
      </a>
    </slide>
    <slide>
      <a href="http://www.funditausaind.com.br/" target="_blank">
        <img src="/assets/images/portfolio/fundacao-itausa.jpg" alt="Site Fundação Itaúsa" />
        <span>
          <strong>Portal institucional</strong>
          Fundação Itaúsa
        </span>
      </a>
    </slide>
    <slide>
      <a href="http://appweb.liquigas.com.br/relatorioanual/2014/pt/index.htm" target="_blank">
        <img src="/assets/images/portfolio/liquigas-2014.jpg" alt="RAO Liquigás 2014" />
        <span>
          <strong>Relatório anual online 2014</strong>
          Liquigás
        </span>
      </a>
    </slide>
    <slide>
      <a href="http://www.walmartbrasil.com.br/relatorio-anual-2014/port/index.htm" target="_blank">
        <img src="/assets/images/portfolio/walmart-2014.jpg" alt="RAO Walmart 2014" />
        <span>
          <strong>Relatório anual online 2014</strong>
          Walmart
        </span>
      </a>
    </slide>
    <slide>
      <a href="https://www.cargill.com/static/brazil-annual-report/2014/pt/index.htm" target="_blank">
        <img src="/assets/images/portfolio/cargill-2014.jpg" alt="RAO Cargill 2014" />
        <span>
          <strong>Relatório anual online 2014</strong>
          Cargill
        </span>
      </a>
    </slide>
    <slide>
      <a href="https://relatoriosustentabilidade.chesf.gov.br/2012/port/index.htm" target="_blank">
        <img src="/assets/images/portfolio/chesf-2012.jpg" alt="RAO Chesf 2012" />
        <span>
          <strong>Relatório anual online 2012</strong>
          Chesf
        </span>
      </a>
    </slide>
  </carousel>
</div>
