@import 'variables';
@import 'mixins';

$color: $azul;

section {background: mix($color, white, 10%)}

h1 span {
	&::before, &::after {color:$azul;}
}

a.job {display: block; padding: 10px; position: relative; overflow: hidden;
	img {width: 100%; border: 1px solid #eee;}
	span {position: absolute; left: 0; width: 100%; bottom: -100px; padding: 5px 15px 15px; color: white; background: $azul; background: rgba($azul,.8); font-size: 14px; overflow: hidden; transition:.3s;
		strong {font-size: 15px; display: block;}
	}
	&:hover {background: $azul;
		span {bottom: 0;}
	}
}