
@font-face {
    font-family: '232mksdround';
    src: url('/assets/fonts/232MKB_-webfont.eot');
    src: url('/assets/fonts/232MKB_-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/232MKB_-webfont.woff') format('woff'),
         url('/assets/fonts/232MKB_-webfont.ttf') format('truetype'),
         url('/assets/fonts/232MKB_-webfont.svg#232mksdround') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: '232mksdround';
    src: url('/assets/fonts/232MKL_-webfont.eot');
    src: url('/assets/fonts/232MKL_-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/232MKL_-webfont.woff') format('woff'),
         url('/assets/fonts/232MKL_-webfont.ttf') format('truetype'),
         url('/assets/fonts/232MKL_-webfont.svg#232mksdround') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: '232mksdround';
    src: url('/assets/fonts/232MKM_-webfont.eot');
    src: url('/assets/fonts/232MKM_-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/232MKM_-webfont.woff') format('woff'),
         url('/assets/fonts/232MKM_-webfont.ttf') format('truetype'),
         url('/assets/fonts/232MKM_-webfont.svg#232mksdround') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: '232mksdround';
    src: url('/assets/fonts/232MKUL-webfont.eot');
    src: url('/assets/fonts/232MKUL-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/232MKUL-webfont.woff') format('woff'),
         url('/assets/fonts/232MKUL-webfont.ttf') format('truetype'),
         url('/assets/fonts/232MKUL-webfont.svg#232mksdround') format('svg');
    font-weight: 100;
    font-style: normal;
}
