@import 'variables';
@import 'mixins';

::-o-scrollbar {width: 5px}
::-moz-scrollbar {width: 5px}
::-ms-scrollbar {width: 5px}
::-webkit-scrollbar {width: 5px}

::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {background: rgba(black, .3); border-radius: 3px}

body {font-family: $fontDefault; font-weight:400; font-size:18px; text-align:center; color:#666;}

a {transition:0.3s;}

* {outline: none !important}

/* ----- Textos ----- */

h1 {font-size:55px; margin-bottom: 50px; text-align: center;
	span {font-size:55px; color:#8B8C8C; position: relative; padding: 0 60px; display: inline-block; margin: 0 auto;
		&::before, &::after {position: absolute; font-size: 90px; top: 50%; height: 90px; line-height: 90px; margin-top: -45px;}
		&::before {content: '{'; left: 0;}
		&::after {content: '}'; right: 0;}
	}
}
h2 {text-transform:uppercase; font-size:22px;}
p {margin:1.5em 0;}

section {position:relative; width:100%; padding:200px 0 50px; min-height: calc(100vh - 67px);}

