@import 'variables';
@import 'mixins';

$color: $laranja;

section {background: mix($color, white, 10%)}

h1 {color:$laranja;}

	.seta {width: 70px; height: 70px; line-height: 70px; color: white; text-align: center; position: absolute; background: $laranja; top: 50%; margin-top: -35px; left: 100%; margin-left: 30px; font-size: 30px; border-radius: 50%;}
	.botoes button {border: 0; color: white; vertical-align: bottom; padding: 5px 10px; margin-top: 0; border-radius: 5px 5px 0 0; transition:.3s;
		&:hover {margin-top: -10px; padding: 10px;}
		&[data-sobre="bio"] {background: $laranja;}
		&[data-sobre="curriculo"] {background: $azul;}
	}
	.bio, .curriculo {color: white; background: $laranja; padding: 20px 30px; margin-left: 50px; border-radius: 30px 0 30px 30px;}
	.curriculo {background: $azul; text-align: left;
		h4 {font-size: 25px;}
		&>div {height: 80vh; overflow-y: auto; padding-right: 20px;}
	}
	ul {list-style: none; padding: 0;
		li {padding: 5px; border-bottom: 1px solid white; border-bottom: 1px solid rgba(white,.3);
			&:last-child {border: none;}
		}
	}
	.rank { float: right; padding-left: 10px;
		.fa {color: $amarelo; display: inline-block;}
	}
	.tooltip {
		.tooltip-inner {background: $laranja; color: white; font-family: $fontDefault; font-size: 13px;}
		.tooltip-arrow {border-left-color: $laranja;}
	}
