<section id="about">

  <h1><span>SOBRE MIM</span></h1>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-4 foto">
        <img src="/assets/images/foto.png" class="img-fluid" />
        <div [class]="'seta seta-' + displayingData"><i class="fa fa-angle-left"></i></div>
      </div>
      <div class="col-md-9 col-lg-8" *ngIf="curriculum">
        <div class="text-right botoes">
          <button class="cur" [class.active]="displayingData === 'CUR'"
            (click)="displayingData = 'CUR'">CURRÍCULO</button>
          <button class="pes" [class.active]="displayingData === 'PES'"
            (click)="displayingData = 'PES'">PESSOAL</button>
          <button class="dep" [class.active]="displayingData === 'DEP'"
            (click)="displayingData = 'DEP'">DEPOIMENTOS</button>
        </div>
        <div class="sobre curriculo" *ngIf="displayingData === 'CUR'">
          <div>
            <h2 class="sr-only">Currículo</h2>
            <h4>Linguagens</h4>
            <ul *ngIf="expRanks">
              <li *ngFor="let exp of expRanks">{{ exp.name }} <div class="rank" [innerHTML]="exp.rank"></div>
              </li>
            </ul>
            <br>
            <h4>Frameworks e Libs</h4>
            <ul *ngIf="toolsRanks">
              <li *ngFor="let lib of libsRanks">{{ lib.name }} <div class="rank" [innerHTML]="lib.rank"></div>
              </li>
            </ul>
            <br>
            <h4>Ferramentas</h4>
            <ul *ngIf="toolsRanks">
              <li *ngFor="let tool of toolsRanks">{{ tool.name }} <div class="rank" [innerHTML]="tool.rank"></div>
              </li>
            </ul>
            <br>
            <h4>Complementar</h4>
            <p>PUG; NPM; Lint; Boas práticas de desenvolvimento (padrões W3C); SEO; Acessibilidade áudio-visual;
              Desenvolvimento <i>Cross-browser</i>; Noções de redes de computadores; Familiarização com MAC OS.</p>
            <br>
            <h4>Experiência</h4>
            <ul>
              <li>
                <div class="row">
                  <div class="col-sm-4">
                    <strong>Desenvolvedor Front-End Sênior</strong><br><em><a href="http://www.audsat.com.br"
                        target="_blank">Audsat</a></em><br> <span style="font-size: 14px"> Set/2018 até o momento</span>
                  </div>
                  <div class="col-sm-8">
                    Saindo da caixinha da publicidade, vim atuar com o desenvolvimento de interfaces para sistemas web
                    B2B. Meus dias são feitos de grandes desafios para garantir qualidade de software e desempenho nas
                    aplicações. Nossas ferramentas inclui facilidades nos processos de financiamento de produção rural,
                    valoração de imóveis rurais, análise de histórico de safras, entre outras.
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-sm-4">
                    <strong>Desenvolvedor Front-End Pleno</strong><br><em><a href="http://www.aatb.com.br"
                        target="_blank">Innova - all around the brand</a></em><br> <span style="font-size: 14px">
                      Jun/2017 até Ago/2018</span>
                  </div>
                  <div class="col-sm-8">
                    Aqui atuei com profissionais de peso no mercado da publicidade. Fiz parte do desenvolvimento de
                    sites institucionais e hotsites para empresas como a Veet, Eucatex, Duratex, HCor, Mosaic
                    fertilizantes e outros.
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-sm-4">
                    <strong>Web Designer Pleno</strong><br><em><a href="http://www.mediagroup.com.br"
                        target="_blank">TheMediaGroup</a></em><br> <span style="font-size: 14px">
                      Out/2009 - Mai/2017</span>
                  </div>
                  <div class="col-sm-8">
                    Nesta empresa iniciei minha carreira como auxiliar de web designer. Aqui
                    participei do desenvolvimento de web sites para empresas renomadas como Banco
                    Itaú, Banco do Brasil, Ambev, Petrobras, Vivo, entre muitas outras. Fui
                    responsável pela confecção de diversos relatórios anuais financeiros <i>online</i>.
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="sobre bio" *ngIf="displayingData === 'PES'">
          <div>
            <h2 class="sr-only">Um pouco sobre mim</h2>
            <p>Desde pequeno sou amante da informática, internet e seus recursos. Comecei a {{'"'}}brincar de
              desenvolvedor{{'"'}}
              em 2007, e em 2009 ingressei no mercado profissional. Desde então tenho participado do desenvolvimento de
              diversos
              projetos para, desde empreendedores individuais até empresas renomadas.</p>
            <p>Gosto de me manter sempre por dentro das tendências do mercado e estar bem atualizado sobre
              novos métodos e tecnologias. Sou formado em Sistemas para Internet desde 2014 e tenho
              aprimorado meu conhecimento na prática e na auto-didatia.</p>
            <p>Aprecio desafios, conhecer novas pessoas, compartilhar ideias, aprender um pouco de tudo e,
              principalmente, ver os resultados de um trabalho bem feito.</p>
            <p>Sou músico, barbeiro profissional, ciclista e curto momentos com a família. Sou apaixonado
              pela natureza e pelos animais, procuro seguir um estilo de vida sustentável.</p>
          </div>
        </div>
        <div class="sobre depoimentos" *ngIf="displayingData === 'DEP'">
          <div>
            <h2 class="sr-only">Depoimentos de parceiros e clientes</h2>
            <ng-container *ngFor="let depoiment of depoiments">
              <div class="row">
                <div class="col-4 col-lg-3">
                  <img [src]="'/assets/images/depoiments/' + depoiment.pic" class="img-fluid rounded-circle" />
                  <h3>{{depoiment.name}}</h3>
                  <p class="job">{{depoiment.job}}</p>
                </div>
                <div class="col-8 col-lg-9">
                  <p [innerHTML]="depoiment.depoiment"></p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>