@import 'variables';
@import 'mixins';

$color: $laranja;

section {background: mix($color, white, 10%)}

h1 span {
	&::before, &::after {color:$laranja;}
}

.foto {position: relative; z-index: 5;
	img {margin-bottom: 50px; max-width: 300px;}
	@include breakpoint(md) {
		img {max-width: 100%;}
	}
}

.seta {width: 50px; height: 50px; display: none; line-height: 50px; color: white; text-align: center; position: absolute; top: 140px; left: 100%; margin-left: 40px; font-size: 30px; border-radius: 50%;
	&-CUR {background: $azul;}
	&-PES {background: $laranja;}
	&-DEP {background: $verde;}
	@include breakpoint(md) { display: block; }
}
.botoes button {border: 0; color: white; vertical-align: bottom; padding: 5px; margin-top: 0; font-size: .8rem; border-radius: 5px 5px 0 0; transition:.3s; cursor: pointer;
	&:hover {margin-top: -10px; padding: 10px;}
	&.cur {background-color: $azul}
	&.pes {background-color: $laranja}
	&.dep {background-color: $verde}
	&.active {margin-top: -10px; padding: 10px;}
	@include breakpoint (sm) {padding: 5px 10px; font-size: 1.2rem;}
}
.sobre {color: white; padding: 20px 30px; border-radius: 30px 0 30px 30px;
	> div {max-height: 75vh; overflow-y: auto;}
	&.bio {background: $laranja;}
	&.curriculo {background: $azul; text-align: left;
		> div {padding: 20px 20px 20px 0;}
		h4 {font-size: 25px;}
		a {color: white; text-decoration: underline; 
			&:hover {color: $amarelo;}
		}
		@include breakpoint (xs) {font-size: .8rem;}
	}
	&.depoimentos {background: $verde; text-align: left;
		> div {padding: 20px 30px 20px 0;}
		.row {padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid rgba(white, .5);
			&:last-child {border: none;}
			&:nth-child(odd) {flex-direction: row-reverse;}
			p {margin: 0;
				&.job {text-align: center; font-size: 15px;}
			}
			h3 {text-align: center; font-size: 20px; margin-top: 15px;}
		}
		@include breakpoint (xs) {font-size: .8rem;}
	}
	@include breakpoint (md) {margin-left: 50px;}
}
ul {list-style: none; padding: 0;
	li {padding: 5px; border-bottom: 1px solid white; border-bottom: 1px solid rgba(white,.3);
		&:last-child {border: none;}
	}
}
/deep/ .rank { float: right; padding-left: 10px;
	.fa {color: $amarelo; display: inline-block; margin-left: 3px;}
}
.tooltip {
	.tooltip-inner {background: $laranja; color: white; font-family: $fontDefault; font-size: 13px;}
	.tooltip-arrow {border-left-color: $laranja;}
}
