<header>
  <div class="container">
    <div class="row align-items-end">
      <div class="col-md-3">
        <a routerLink="/" class="logo">
          <img src="assets/images/logo.svg" alt="Kelvin Marques - Web Designer" />
        </a>
      </div>
      <nav class="col-md-9">
        <ul>
          <li>
            <a routerLink="/" routerLinkActive="active-verde" [routerLinkActiveOptions]="{exact: true}">início</a>
          </li>
          <li>
            <a routerLink="/portfolio" routerLinkActive="active-azul">portfólio</a>
          </li>
          <li>
            <a routerLink="/sobre" routerLinkActive="active-laranja">sobre mim</a>
          </li>
          <li>
            <a routerLink="/contato" routerLinkActive="active-amarelo">contato</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
