@import 'variables';
@import 'mixins';

header { background-color:white; position:fixed; left:0; top:0; width:100%; z-index:900;
  a.logo { display: block; max-width: 150px; padding: 15px 0;
		img {display: block; height: auto; width: 100%;}
		@include breakpoint(md) { padding: 0; }
	}
	.menu {text-align: right;
		&__toggle {background: none; border: none; font-family: $fontDefault; font-size: 25px; color: $chumbo;}
		&__overflow {position: fixed; left: 0; top: 0; height: 100vh; width: 100vh; z-index: -10; background: rgba(white, .5);}
		nav {font-size: 0; display: none; margin-left: auto; position: absolute; top: 100%; right: 0; background: #eee; padding: 15px; text-align: center;
			&.open {display: block;}
			ul {margin: 0; padding: 0; list-style: none;
				li {margin: 0;
					a {font-size:25px; color:#666; padding: 5px 20px 0; margin-bottom: 5px; font-weight:100; display:block; vertical-align:middle; border-bottom: 4px solid #666; height:inherit;
						&:hover {text-decoration:none;}
						&.active {
							&-verde {border-color: $verde;}
							&-azul {border-color: $azul;}	
							&-laranja {border-color: $laranja;}
							&-amarelo {border-color: $amarelo;}
						}
					}
					&:last-child a {margin-right:0;}
				}
			}

		}
		@include breakpoint(md) {
			&__toggle, &__overflow {display: none !important;}
			nav {display: block !important; margin: 0; position: relative; top: auto; right: auto; background:none; padding: 0;
				ul {display:inline-block; height:100px; display: flex; flex-direction: row; justify-content: flex-end;
					li {height:100px; padding:0 15px; line-height: 100px; margin: 0;
						&:last-child {padding-right: 0;}
						a {padding: 0; margin: 0; font-size:30px;}
					}
				}
			}
		}
		@include breakpoint(lg) {
			nav ul li {padding: 0 20px;}
		}
	}
	
}
