<header>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-md-3">
        <a routerLink="/" class="logo" (click)="menuMobile = false">
          <img src="assets/images/logo.svg" alt="Kelvin Marques - Web Designer" class="img-fluid" />
        </a>
      </div>
      <div class="col-6 col-md-9 menu">
        <div *ngIf="menuMobile" class="menu__overflow" (click)="menuMobile = false"></div>
        <button class="menu__toggle" (click)="menuMobileToggle()"><i [class]="'fa fa-' + (menuMobile ? 'times' : 'bars')"></i> menu</button>
        <nav [class.open]="menuMobile" (click)="menuMobile = false">
          <ul>
            <li>
              <a routerLink="/" routerLinkActive="active-verde" [routerLinkActiveOptions]="{exact: true}">início</a>
            </li>
            <li>
              <a routerLink="/portfolio" routerLinkActive="active-azul">portfólio</a>
            </li>
            <li>
              <a routerLink="/sobre" routerLinkActive="active-laranja">sobre mim</a>
            </li>
            <li>
              <a routerLink="/contato" routerLinkActive="active-amarelo">contato</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>