<section id="apresentacao">
  <div class="container">
     <h1> {{'{'}} <span>POR QUE UM WEBSITE?</span> {{'}'}}</h1>

    <p>Todos sabemos que a internet é o maior meio de comunicação existente, e grande maior uso desta ferramenta é feita através de acessos a <em>websites</em> e páginas na <em>web</em>. Então que outra melhor forma haveria de divulgar o seu negócio com tanta visibilidade, sem sair de onde você está e sem panfletos sujando as ruas?    </p>
    <p>&quot;Mas qual a importância de um website hoje em dia?&quot; Eu respondo: é justamente recursos para você e conveniência para seus clientes que um panfleto ou uma página em uma rede social qualquer não oferecem, como serviços de vendas, informações relevantes com fácil acesso e muito mais, como você pode conferir:</p>

        <ul class="links_circulos row">
            <li class="col selected">
                <span>Seja diferente</span>
                <a routerLink="" id="diferente">
                    <span><i class="fa fa-chevron-down"></i></span>
                </a>
            </li>
            <li class="col">
                <span>Esteja ao alcance do mundo</span>
                <a routerLink="" id="alcance">
                    <span><i class="fa fa-chevron-down"></i></span>
                </a>
            </li>
            <li class="col">
                <span>A internet não dorme</span>
                <a routerLink="" id="n_dorme">
                    <span><i class="fa fa-chevron-down"></i></span>
                </a>
            </li>
            <li class="col">
                <span>Fácil apresentação</span>
                <a routerLink="" id="apresentacao">
                    <span><i class="fa fa-chevron-down"></i></span>
                </a>
            </li>
            <li class="col">
                <span>Atualização versátil</span>
                <a routerLink="" id="versatil">
                    <span><i class="fa fa-chevron-down"></i></span>
                </a>
            </li>
        </ul>

        <div class="box-texto" data-name="diferente" style="display:block;">
          <h3>Seja diferente</h3>
            Seu site pode ser acessado de qualquer lugar, de qualquer dispositivo. Nos dias de hoje temos acesso à internet em praças públicas, shoppings, estabelecimentos públicos e até em lugares mais remotos. Pessoas de qualquer classe social já possuem smartphones que possibilitam acesso à internet de qualquer lugar. Resumidamente milhões de pessoas poderão ter acesso imediato aos seus serviços.
        </div>

        <div class="box-texto" data-name="alcance">
          <h3>Esteja ao alcance do mundo mundo</h3>
            Seu site pode ser acessado de qualquer lugar, de qualquer dispositivo. Nos dias de hoje temos acesso à internet em praças públicas, shoppings, estabelecimentos públicos e até em lugares mais remotos. Pessoas de qualquer classe social já possuem smartphones que possibilitam acesso à internet de qualquer lugar. Resumidamente milhões de pessoas terão acesso imediato aos seus serviços.
        </div>

        <div class="box-texto" data-name="n_dorme">
          <h3>Esteja ao alcance do mundo mundo</h3>
            Seu site pode ser acessado de qualquer lugar, de qualquer dispositivo. Nos dias de hoje temos acesso à internet em praças públicas, shoppings, estabelecimentos públicos e até em lugares mais remotos. Pessoas de qualquer classe social já possuem smartphones que possibilitam acesso à internet de qualquer lugar. Resumidamente milhões de pessoas terão acesso imediato aos seus serviços.
        </div>

        <div class="box-texto" data-name="apresentacao">
          <h3>Esteja ao alcance do mundo mundo</h3>
            Seu site pode ser acessado de qualquer lugar, de qualquer dispositivo. Nos dias de hoje temos acesso à internet em praças públicas, shoppings, estabelecimentos públicos e até em lugares mais remotos. Pessoas de qualquer classe social já possuem smartphones que possibilitam acesso à internet de qualquer lugar. Resumidamente milhões de pessoas terão acesso imediato aos seus serviços.
        </div>

        <div class="box-texto" data-name="versatil">
          <h3>Esteja ao alcance do mundo mundo</h3>
            Seu site pode ser acessado de qualquer lugar, de qualquer dispositivo. Nos dias de hoje temos acesso à internet em praças públicas, shoppings, estabelecimentos públicos e até em lugares mais remotos. Pessoas de qualquer classe social já possuem smartphones que possibilitam acesso à internet de qualquer lugar. Resumidamente milhões de pessoas terão acesso imediato aos seus serviços.
        </div>

    </div>

  </section>
