<section id="apresentacao">
  <div class="container">
    <h1><span>SOLUÇÕES ONLINE PARA O SEU NEGÓCIO</span></h1>

    <p>Todos sabemos que a internet é o maior meio de comunicação existente, e o maior uso desta ferramenta é feita
      através de acessos a <em>websites</em>, <em>aplicativos</em> e páginas na <em>web</em>. Então que outra melhor forma haveria de divulgar
      o seu negócio com tanta visibilidade, sem sair de onde você está e sem panfletos sujando as ruas? </p>
    <p>&quot;Mas qual a importância do meu negócio estar na internet?&quot; Eu respondo: é justamente recursos para você e
      conveniência para seus clientes, que um apenas um panfleto ou uma página em uma rede social qualquer não oferecem, como
      serviços de vendas, informações relevantes com fácil acesso e muito mais.</p>

    <div class="advantages">
      <div class="row align-items-center">
        <div class="col-md-2 text-center">
          <div class="icon">
            <img src="/assets/images/diferente.svg" alt="Icon Seja diferente" class="img-fluid" />
          </div>
        </div>
        <div class="col-md">
          <h2>Seja diferente</h2>
          <p>"Vou só criar páginas no Face e no Insta e está bom". Ok, mas quem já não tem isso? Com um site
            institucional você dispõe ao alcance das pessoas informações importante sobre seu negócio e serviços, e seu
            público pode tirar dúvidas e entrar em contato de forma muito mais ágil. Além disso, ter um site próprio
            ainda pesa no diferencial, e como pesa...</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-2 text-center">
          <div class="icon">
            <img src="/assets/images/mundo.svg" alt="Icon Seja diferente" class="img-fluid" />
          </div>
        </div>
        <div class="col-md">
          <h2>Esteja ao alcance do mundo mundo</h2>
          <p>Seu site pode ser acessado de qualquer lugar, de qualquer dispositivo. Nos dias de hoje temos acesso à
            internet
            em praças públicas, shoppings, estabelecimentos públicos e até em lugares mais remotos. Pessoas de qualquer
            classe social já possuem smartphones que possibilitam acesso à internet de qualquer lugar. Resumidamente
            milhões
            de pessoas terão acesso imediato aos seus serviços.</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-2 text-center">
          <div class="icon">
            <img src="/assets/images/n_dorme.svg" alt="Icon Seja diferente" class="img-fluid" />
          </div>
        </div>
        <div class="col-md">
          <h2>A internet não dorme</h2>
          <p>A gente até dorme de vez enquando, mas antes sempre rola aquela navegada na internet, e quando acordamos lá
            está ela de novo. É por isso que estamos deixando tudo por conta dela, pois as pessoas buscam cada vez mais
            agilidade e praticidade, e podemos garantir isso com um site produzido com tecnologia de ponta para
            proporcionar
            a melhor experiência aos seus usuários.</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-2 text-center">
          <div class="icon">
            <img src="/assets/images/apresentacao.svg" alt="Icon Seja diferente" class="img-fluid" />
          </div>
        </div>
        <div class="col-md">
          <h2>Fácil apresentação</h2>
          <p>Cartão de visita e panfleto está meio fora de moda. Dê um link para o seu cliente e ele poderá acessar
            rapidinho pelo smartphone e ter acesso a todas as informações relevantes sobre seu negócio, de forma rápida
            e
            dinâmica.</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-2 text-center">
          <div class="icon">
            <img src="/assets/images/versatil.svg" alt="Icon Seja diferente" class="img-fluid" />
          </div>
        </div>
        <div class="col-md">
          <h2>Acesso versátil</h2>
          <p>Desenvolvemos <strong>sites responsivos</strong>, que se adaptam à largura de qualquer dispositivo. Usamos tecnologias para proporcionar alta performance para ninguém por a culpa no 4G.</p>
        </div>
      </div>
    </div>

  </div>

</section>